<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
  <input class="component component-input-button" type="button" th:value="${value}?:_" th:id="${id}?: _"
    th:title="${title}?:_" th:disabled="${disabled}?:_" />

  <div class="component component-simple-menu goog-menu" th:id="${id}?:_">
    <th:block th:if="${menuItems} != null">
      <th:block th:each="e: ${menuItems}">
        <hr th:if="${e['isSeperator']}">
        <div th:unless="${e['isSeperator']}" class="goog-menuitem" th:id="${e['id']} ?: _"
          th:classappend="${e['selected']} == true ? 'goog-option goog-option-selected' : _">
          <div th:if="${e['accelerator']} != null" class="goog-menuitem-accel">[[${e['accelerator']}]]</div>
          [[${e['caption']}]]
        </div>
      </th:block>
    </th:block>
  </div>

  <div class="component component-render-datepicker-enus" th:id="${id} ?: _"></div>

  <div class="component component-slider goog-slider" th:id="${id} ?: _" th:style="${dir} != 'vertical' ? 'width:' +  (${width} ?: 200) + 'px;' + 'height:' + (${height} ?: 20) + 'px' : 'width:' +  (${width} ?: 20) + 'px;' + 'height:' + (${height} ?: 200) + 'px'">
    <th:block th:if="${content}">[[${content}]]</th:block>
    <div th:if="${baseline}"
      th:style="${dir} != 'vertical' ? 'position: absolute;width: 100%;top: 50%;border: 1px inset white;overflow: hidden;height: 0;' : 'position: absolute;height: 100%;left: 50%;border: 1px inset white;overflow: hidden;height: 0;'"></div>
    <div class="goog-slider-thumb"></div>
  </div>
</body>
</html>