<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
  <input class="component component-input-button" type="button" th:value="${value}?:_" th:id="${id}?: _"
    th:title="${title}?:_" th:disabled="${disabled}?:_" />

  <div class="component component-simple-menu goog-menu" th:id="${id}?:_">
    <th:block th:if="${menuItems} != null">
      <th:block th:each="e: ${menuItems}">
        <hr th:if="${e['isSeperator']}">
        <div th:unless="${e['isSeperator']}" class="goog-menuitem" th:id="${e['id']} ?: _"
          th:classappend="${e['selected']} == true ? 'goog-option goog-option-selected' : _">
          <div th:if="${e['accelerator']} != null" class="goog-menuitem-accel">[[${e['accelerator']}]]</div>
          [[${e['caption']}]]
        </div>
      </th:block>
    </th:block>
  </div>
  
  <div class="component component-render-datepicker-enus" th:id="${id} ?: _"></div>
</body>
</html>